<%= form_with(model: UserAppraisal.new, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: user.id %>
  <%= form.hidden_field :category_id, value: category.id %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment%>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
