<% if (Transaction.where(appraisee: user, appraiser: current_user, category: @categories).count < 3 ) || current_user.points.positive? %>

<div class="row">
  <h5><%= current_user.manager ? (link_to user.email, "/user_appraisal/#{user.id}") : user.email  %><h5>
  <%= render @categories, user: user %>
</div>
<hr>
<% end %>
