<div class="small-3 columns">
  <h6><%= category.name %></h6>
  <% if  Transaction.find_by(appraisee: user, appraiser: current_user, category: category) %>
    <h4>Provided Already</h4>
  <% else %>
    <%= render 'form', user: user, category: category %>
  <% end %>
</div>