<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">UserAppraisal</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <%if user_signed_in? %>
          <li><%= link_to  "My Appraisals", my_appraisals_path %></li>
          <li class="has-dropdown profile">
            <%= link_to current_user.email.split('@').first.capitalize, '#' %>
            <ul class="dropdown">
              <li> <%= link_to "Profile",edit_user_registration_path %></li>
              <li> <%= link_to "Logout",destroy_user_session_path, method: :delete%></li>
            </ul>
         </li>
      <% end %>
    </ul>
  </section>
</nav>
