<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
  	<%= render 'layouts/header' %>
  	<%= render 'layouts/message' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>